$dark: #484d5e;
$dark-light: #bec5cc;
$light: #f2f2f2;
$theme: #7b7de5;
$green: #67d4a1;
$silver: #dfe4e8;
$gray: #798996;
$blue: #25abf1;
$blue-light: #4ed9ef;
$red: #ef4e4e;
$yellow: #efdb4e;
$blueDark: #17728c;
$pink: #e26c99;
$white: #fff;
$menu-itens: #b8c7ce;

.c-dark { color: $dark }
.c-dark-light { color: $dark-light }
.c-green { color: $green }
.c-theme { color: $theme }
.c-silver { color: $silver }
.c-gray { color: $gray }
.c-blue { color: $blue }
.c-blue-light { color: $blue-light }
.c-red { color: $red }
.c-yellow { color: $yellow }
.c-blueDark { color: $blueDark }
.c-pink { color: $pink }
.c-white { color: $white }
.c-menu-itens { color: $menu-itens }

.bg-dark { background-color: $dark }
.bg-dark-light { background-color: $dark-light }
.bg-light { background-color: $light }
.bg-green { background-color: $green }
.bg-theme { background-color: $theme }
.bg-theme-dark { background-color: darken($theme, 3%) }
.bg-gray { background-color: $gray }
.bg-silver { background-color: $silver }
.bg-blue { background-color: $blue }
.bg-blue-light { background-color: $blue-light }
.bg-red { background-color: $red }
.bg-yellow { background-color: $yellow }
.bg-blueDark { background-color: $blueDark }
.bg-pink { background-color: $pink }
.bg-white { background-color: $white }
.bg-menu-itens { background-color: $menu-itens }

