.c-dark {
  color: #484d5e; }

.c-dark-light {
  color: #bec5cc; }

.c-green {
  color: #67d4a1; }

.c-theme {
  color: #7b7de5; }

.c-silver {
  color: #dfe4e8; }

.c-gray {
  color: #798996; }

.c-blue {
  color: #25abf1; }

.c-blue-light {
  color: #4ed9ef; }

.c-red {
  color: #ef4e4e; }

.c-yellow {
  color: #efdb4e; }

.c-blueDark {
  color: #17728c; }

.c-pink {
  color: #e26c99; }

.c-white {
  color: #fff; }

.c-menu-itens {
  color: #b8c7ce; }

.bg-dark {
  background-color: #484d5e; }

.bg-dark-light {
  background-color: #bec5cc; }

.bg-light {
  background-color: #f2f2f2; }

.bg-green {
  background-color: #67d4a1; }

.bg-theme {
  background-color: #7b7de5; }

.bg-theme-dark {
  background-color: #6e70e2; }

.bg-gray {
  background-color: #798996; }

.bg-silver {
  background-color: #dfe4e8; }

.bg-blue {
  background-color: #25abf1; }

.bg-blue-light {
  background-color: #4ed9ef; }

.bg-red {
  background-color: #ef4e4e; }

.bg-yellow {
  background-color: #efdb4e; }

.bg-blueDark {
  background-color: #17728c; }

.bg-pink {
  background-color: #e26c99; }

.bg-white {
  background-color: #fff; }

.bg-menu-itens {
  background-color: #b8c7ce; }
